@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', serif;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.form-container {
  background-color: #fff;
  flex: 1;
  width: 48rem; /* 656px em rem */
  padding: 4rem;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
  overflow-y: auto; /* Adiciona rolagem vertical */
  max-height: 100vh; /* Define a altura máxima */
}

/* Esconde a barra de rolagem no WebKit (Chrome, Safari) */
.form-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Esconde a barra de rolagem no Firefox */
.form-container {
  scrollbar-width: none; /* Firefox */
}

.form-group {
  margin-bottom: 1.5rem;
}

.back-button {
  display: inline-flex;
  align-items: center;
  color: #57534e;
  text-decoration: none;
  font-family: 'Poppins', serif;
  font-weight: 400;
}

.back-button:hover {
  color: #0056b3;
}

.back-icon {
  width: 1.5rem; /* 16px em rem */
  height: 1.5rem; /* 16px em rem */
  margin-right: 0.3rem; /* 8px em rem */
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: #57534e;
  padding-bottom: 2.5rem;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
label {
  font-size: 0.9rem;
  font-weight: 400;
  color: #57534e;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('assets/icons/arrow-down.png') no-repeat right 0.75rem center;
  background-size: 1rem;
  padding-right: 2rem;
}

.custom-file-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem; /* Aumenta a área do botão */
  border: 0.125rem dashed #ccc; /* Borda tracejada */
  border-radius: 0.5rem; /* Borda arredondada */
  box-sizing: border-box;
  font-size: 1rem;
  background-color: #f8f9fa;
  color: #a8a29e;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.custom-file-upload input[type='file'] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0; /* Esconde o botão */
  cursor: pointer;
}

.upload-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-content i {
  font-size: 2rem; /* Tamanho do ícone */
  color: #007bff; /* Cor azul */
  margin-bottom: 0.5rem;
}

input[type='text'],
input[type='date'],
input[type='email'],
input[type='tel'],
input[type='file'],
select {
  color: #292524;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
}

input[type='text']:focus,
input[type='date']:focus,
input[type='email']:focus,
input[type='tel']:focus,
input[type='file']:focus,
select:focus {
  border-color: #f3541c;
  outline: none;
  box-shadow: 0 0 5px #f3541c;
}

.image-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2135a6; /* Fundo azul */
}

.logo {
  max-width: 30%;
  height: auto;
  padding: 0;
}

.imagem {
  max-width: 80%;
  height: auto;
  padding: 0; /* Removendo valores incorretos */
}



/*---------------------- pedro UPD Endereço(apagar depois de olhar)*/


#fourLabel {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

#fourLabel div {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px; /* Garante que os campos tenham um tamanho mínimo */
}

#fourLabel label {
  margin-bottom: 4px;
  font-size: 14px;
  color: #666;
}

#fourLabel input {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0.75rem;
  border-radius: 5px;
  font-size: 16px;
  /*width: 100%; /* Faz os inputs ocuparem toda a largura do container */
}

#numero, #estado{
  width: 100%;
}

#cidade, #rua{
  width: 100%;
}

/*---------------------------------------------------------------------------------------*/

/*---------------------- pedro UPD Endereço(apagar depois de olhar)*/

.selecionarTrilha{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  max-width: 500px;
}

.cartaoSelect{
position: relative;
width: 220px;
height: 120px;
padding: 15px;
border-radius: 10px;
border: 2px solid #ccc;
background: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
cursor: pointer;
transition: all 0.3s; 
}

.cartaoSelect:hover {
  border-color: #ff5722;
}

.cartaoSelect img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.selecionarTrilha input[type="radio"] {
  display: none;
}

.selecionarTrilha input[type="radio"]:checked + .cartaoSelect {
  border-color: #ff5722;
  box-shadow: 0 0 10px rgba(255, 87, 34, 0.5);
}

.selecionarTrilha input[type="radio"]:checked + .cartaoSelect::before {
  content: "✔";
  position: absolute;
  top: 10px;
  left: 10px;
  background: #ff5722;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}